<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>

    <h1>{{ post.title }}</h1>
    <p>Publicado por: {{ post.author }} el {{ post.pub_date }}</p>
    <hr>
    <div>
        {{ post.content | safe }}
    </div>

    <p><a href="{% url 'post_list' %}">Volver a la lista de posts</a></p>

    <hr>
    <h3>Comentarios</h3>
    {% for comment in comments %}
        <p><strong>{{ comment.author }}</strong> - {{ comment.pub_date }}</p>
        <p>{{ comment.text }}</p>
        <hr>
    {% empty %}
        <p>No hay comentarios aún.</p>
    {% endfor %}

    <div class="mt-4">
        <h4>Deja un comentario</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2">Enviar Comentario</button>
        </form>
    </div>

</body>
</html>